fieldset {
	border: 0;
	margin: 0;
	min-width: 0;
	padding: 0;
}

legend {
	@include font-size-h4;
	border: 0;
	border-bottom: 1px solid $color-border;
	color: $color-medium;
	display: block;
	margin-bottom: 24px;
	padding: 0;
	width: 100%;
}

label {
	display: inline-block;
	margin-bottom: 4px;
	max-width: 100%;
}

input[type="search"] {
	box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}

input[type="file"] {
	display: block;
}

input[type="range"] {
	display: block;
	width: 100%;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
	border: 1px solid $shade-lower;
	border-radius: 0;
	box-shadow: inset 0 0 4px $shade-lowest;
	height: calc(1.5em + 10px);
	line-height: 1.5;
	max-width: 100%;
	padding: 4px 8px;
	resize: none;
	transition: all 0.2s $ease;

	&:focus {
		border-color: $shade-lower;
		box-shadow: none;
		outline: 0;
	}

	::placeholder {
		color: $color-text-light;
	}
}

textarea {
	height: 80px;
}

select {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	background-color: $white;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
	background-position: 100% center;
	background-repeat: no-repeat;
	border-radius: 0;
	border: 1px solid $shade-lower;
	height: calc(1.5em + 10px);
	line-height: 1.5;
	padding: 4px 24px 4px 8px;

	&[multiple],
	&[size] {
		background-image: none;
		height: auto;
		padding: 8px;
	}

	&:hover {
		border-color: $shade-lower;
		outline: 0;
	}

	&:disabled {
		background-color: #DDDDDD;
		cursor: default;
	}

	&::-ms-expand {
		display: none;
	}
}

button,
.button,
a.button,
input[type="submit"] {
	background-color: $color-one;
	border: 1px solid transparent;
	border-radius: 0;
	color: $white;
	display: inline-block;
	line-height: 1.5;
	padding: 4px 16px;
	position: relative;
	text-align: center;
	transition: all 0.2s $ease;
	vertical-align: middle;

	&:hover,
	&:focus {
		background-color: $color-one-light;
		outline: 0;
		text-decoration: none;
	}

	&:active {
		background-color: $color-one-dark;
	}

	&.button-alt {
		background-color: $color-two;
		color: $color-darker;

		&:hover,
		&:focus {
			background-color: $color-two-light;
		}

		&:active {
			background-color: $color-two-dark;
		}
	}

	&.button-gray {
		background-color: $color-dark;

		&:hover,
		&:focus {
			background-color: $color-darker;
		}

		&:active {
			background-color: $color-darkest;
		}
	}

	&.button-success {
		background-color: $color-success;

		&:hover,
		&:focus {
			background-color: lighten($color-success, $opacity-lowest-percent);
		}

		&:active {
			background-color: darken($color-success, $opacity-lowest-percent);
		}
	}

	&.button-danger {
		background-color: $color-danger;

		&:hover,
		&:focus {
			background-color: lighten($color-danger, $opacity-lowest-percent);
		}

		&:active {
			background-color: darken($color-danger, $opacity-lowest-percent);
		}
	}

	&.button-link {
		background-color: transparent;
		color: $color-text;
		padding-left: 0;
		padding-right: 0;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	+ .button-link {
		margin-left: 4px;
	}
}

.form-groups,
.form-group {
	margin-bottom: 12px;

	&:last-child {
		margin-bottom: 0;
	}

	.form-control {
		display: block;
		width: 100%;
	}
}

.form-horizontal {

	.form-group {

		> label,
		> .label {
			color: $color-text-light;
			display: inline-block;
			font-weight: 700;
			padding-right: 8px;
			vertical-align: top;
			width: 200px;
		}

		.help {
			color: $color-text-light;
			font-size: $font-size-small;
			line-height: $line-height-small;
			margin-left: 2px;
		}

		.form-control {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 206px);
		}

		.checkbox,
		.radio {

			label {
				display: block;
			}
		}

		button,
		.button {

			&:first-child {
				margin-left: 206px;
			}
		}

		.button-link {
			margin-left: 8px;
		}
	}
}