* {
	box-sizing: border-box;

	&:after,
	&:before {
		box-sizing: border-box;
	}
}

html,
body {
	height: 100%;
}

body {
	background-color: $color-viewport;
}

nav {

	ol,
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

audio,
canvas,
iframe,
img,
svg,
video {
	max-width: 100%;
	vertical-align: middle;
}

img {
	height: auto;
	max-width: 100%;
}

.browse-happy {
	background: $color-lighter;
	color: $color-dark;
	margin: 0;
	padding: 1em;
	text-align: center;

	a {
		color: $color-darker;
		font-weight: 700;
	}
}

.container {
	background-color: $color-background;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	position: relative;

	> * {
		transition: transform 0.3s $ease;
	}
}

.js-nav-active {
	user-select: none;

	.container {

		&:before {
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 5;
		}

		> * {
			transform: translateX(-16rem);

			@include breakpoint(walker) {
				transform: translateX(0);
			}
		}
	}
}

.wrap {
	margin: 0 auto;
	max-width: 28em;
	padding: 0 1em;

	@include breakpoint(creeper) {
		max-width: 70em;
		padding: 0 2em;
	}

	@include breakpoint(jumper) {
		max-width: 80em;
		padding: 0 3em;
	}
}
