.js-nav-active {
	user-select: none;

	.site {

		&:before {
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 5;
		}

		> * {
			transform: translateX(-256px);

			@include breakpoint(walker) {
				transform: translateX(0);
			}
		}

		.site-nav {

			&.opened {
				transform: translateX(0);
			}
		}
	}
}
