.main {
	width: 100%;

	@include breakpoint(walker) {
		float: left;
		width: 62.5%;
		width: calc(100% - 232px);
	}

	@include breakpoint(runner) {
		width: calc(100% - 304px);
	}

	&.main-fullscreen {
		width: 100%;
	}
}
