.main {
	width: 100%;

	@include breakpoint(walker) {
		float: left;
		width: 62.5%;
		width: calc(100% - 14.5em);
	}

	@include breakpoint(runner) {
		width: calc(100% - 19em);
	}

	&.main-fullscreen {
		width: 100%;
	}
}
