// BREAKPOINT

@mixin breakpoint($zombie) {
	@if $zombie == creeper {
		@media only screen and (min-width: 480px) { @content; }
	}
	@else if $zombie == crawler {
		@media only screen and (min-width: 640px) { @content; }
	}
	@else if $zombie == walker {
		@media only screen and (min-width: 768px) { @content; }
	}
	@else if $zombie == runner {
		@media only screen and (min-width: 1024px) { @content; }
	}
	@else if $zombie == jumper {
		@media only screen and (min-width: 1152px) { @content; }
	}
	@else if $zombie == flyer {
		@media only screen and (min-width: 1280px) { @content; }
	}
	@else if $zombie == teleporter {
		@media only screen and (min-width: 1440px) { @content; }
	}
	@else if $zombie == demigod {
		@media only screen and (min-width: 1600px) { @content; }
	}
	@else if $zombie == god {
		@media only screen and (min-width: 1920px) { @content; }
	}
	@else if $zombie == creeper-crawler {
		@media only screen and (min-width: 480px) and (max-width: 639px) { @content; }
	}
	@else if $zombie == crawler-walker {
		@media only screen and (min-width: 640px) and (max-width: 767px) { @content; }
	}
	@else if $zombie == walker-runner {
		@media only screen and (min-width: 768px) and (max-width: 1023px) { @content; }
	}
	@else if $zombie == runner-jumper {
		@media only screen and (min-width: 1024px) and (max-width: 1151px) { @content; }
	}
	@else if $zombie == jumper-flyer {
		@media only screen and (min-width: 1152px) and (max-width: 1279px) { @content; }
	}
	@else if $zombie == flyer-teleporter {
		@media only screen and (min-width: 1280px) and (max-width: 1339px) { @content; }
	}
	@else if $zombie == teleporter-demigod {
		@media only screen and (min-width: 1440px) and (max-width: 1599px) { @content; }
	}
	@else if $zombie == demigod-god {
		@media only screen and (min-width: 1600px) and (max-width: 1919px) { @content; }
	}
	@else if $zombie == watcher {
		@media only screen and (-o-min-device-pixel-ratio: 1.5),
			   only screen and (-webkit-min-device-pixel-ratio: 1.5),
			   only screen and (min-resolution: 144dpi) { @content; }
	}
}


// COLORS

$white: 				#ffffff;
$black: 				#000000;

$white-smoke: 			#f5f5f5;
$solitude: 				#f0f2f5;
$gainsboro: 			#e0e0e0;
$dark-grey: 			#a3a3a3;
$eclipse: 				#3d3d3d;
$ebony-clay: 			#31363d;
$nero: 					#1f1f1f;

$lime-green: 			#2bad29;
$forest-green: 			#259b24;
$green: 				#056f00;

$crimson: 				#f20e3c;
$torch-red: 			#e00032;
$free-speech-red: 		#c00010;

$denim: 				#116aad;
$kelly-green: 			#27aa0b;
$amber: 				#ffc000;

$color-lightest: 		$white-smoke;
$color-lighter: 		$solitude;
$color-light: 			$gainsboro;
$color-medium: 			$dark-grey;
$color-dark: 			$eclipse;
$color-darker: 			$ebony-clay;
$color-darkest: 		$nero;

$color-one-light: 		$lime-green;
$color-one: 			$forest-green;
$color-one-dark: 		$green;

$color-two-light: 		$crimson;
$color-two: 			$torch-red;
$color-two-dark: 		$free-speech-red;

$color-info: 			$denim;
$color-success: 		$kelly-green;
$color-warning: 		$amber;
$color-alert: 			$crimson;

$color-viewport: 		$color-darker;
$color-background: 		$white;

$color-text: 			$color-darker;
$color-text-light: 		$color-dark;

$color-border: 			$color-light;
$color-border-light: 	$color-lighter;

$color-dribbble: 		#ea4c89;
$color-facebook: 		#3b5998;
$color-google: 			#cc3732;
$color-instagram: 		#3f729b;
$color-linkedin: 		#0077b5;
$color-pinterest: 		#cc2127;
$color-twitter: 		#00aced;
$color-youtube: 		#cd201f;


// OPACITY

$opacity-none: 				0;
$opacity-lowest: 			0.08;
$opacity-lower: 			0.16;
$opacity-low: 				0.24;
$opacity-medium: 			0.48;
$opacity-high: 				0.64;
$opacity-higher: 			0.88;
$opacity-highest: 			0.96;
$opacity-full: 				1;

$opacity-none-percent: 		$opacity-none*100%;
$opacity-lowest-percent: 	$opacity-lowest*100%;
$opacity-lower-percent: 	$opacity-lower*100%;
$opacity-low-percent: 		$opacity-low*100%;
$opacity-medium-percent: 	$opacity-medium*100%;
$opacity-high-percent: 		$opacity-high*100%;
$opacity-higher-percent: 	$opacity-higher*100%;
$opacity-highest-percent: 	$opacity-highest*100%;
$opacity-full-percent: 		$opacity-full*100%;

$tint-none: 			rgba($white, $opacity-none);
$tint-lowest: 			rgba($white, $opacity-lowest);
$tint-lower: 			rgba($white, $opacity-lower);
$tint-low: 				rgba($white, $opacity-low);
$tint-medium: 			rgba($white, $opacity-medium);
$tint-high: 			rgba($white, $opacity-high);
$tint-higher: 			rgba($white, $opacity-higher);
$tint-highest: 			rgba($white, $opacity-highest);
$tint-full: 			rgba($white, $opacity-full);

$shade-none: 			rgba($black, $opacity-none);
$shade-lowest: 			rgba($black, $opacity-lowest);
$shade-lower: 			rgba($black, $opacity-lower);
$shade-low: 			rgba($black, $opacity-low);
$shade-medium: 			rgba($black, $opacity-medium);
$shade-high: 			rgba($black, $opacity-high);
$shade-higher: 			rgba($black, $opacity-higher);
$shade-highest: 		rgba($black, $opacity-highest);
$shade-full: 			rgba($black, $opacity-full);


// TYPOGRAPHY

$sans-serif: 			"Helvetica Neue", sans-serif;
$serif: 				Georgia, serif;
$monospace: 			Menlo, Monaco, Consolas, "Courier New", monospace;

$font-size: 			16px;
$line-height: 			1.5;

$font-size-lead: 		18px;
$line-height-lead: 		1.333333333;

$font-size-jumbo: 		48px;
$line-height-jumbo: 	1.166666667;

$font-size-small: 		14px;
$line-height-small: 	1.428571429;

$font-size-smaller: 	13px;
$line-height-smaller: 	1.384615385;

$font-size-smallest: 	12px;
$line-height-smallest: 	1.333333333;

$font-size-micro: 		11px;
$line-height-micro: 	1.454545455;

$font-size-h1: 			36px;
$line-height-h1: 		1.111111111;

$font-size-h2: 			30px;
$line-height-h2: 		1.2;

$font-size-h3: 			24px;
$line-height-h3: 		1.333333333;

$font-size-h4: 			20px;
$line-height-h4: 		1.2;

$font-size-h5: 			18px;
$line-height-h5: 		1.333333333;

$font-size-h6: 			16px;
$line-height-h6: 		1.25;


// TRANSITION

$ease: 		ease-in-out;
$bounce: 	cubic-bezier(0.5, 0.15, 0.25, 1.25);


// MIXINS

@mixin clearfix {

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

@mixin font-size {
	font-size: $font-size;
	line-height: $line-height;
}

@mixin font-size-lead {
	font-size: $font-size-lead;
	line-height: $line-height-lead;
}

@mixin font-size-jumbo {
	font-size: $font-size-jumbo;
	line-height: $line-height-jumbo;
}

@mixin font-size-small {
	font-size: $font-size-small;
	line-height: $line-height-small;
}

@mixin font-size-smaller {
	font-size: $font-size-smaller;
	line-height: $line-height-smaller;
}

@mixin font-size-smallest {
	font-size: $font-size-smallest;
	line-height: $line-height-smallest;
}

@mixin font-size-micro {
	font-size: $font-size-micro;
	line-height: $line-height-micro;
}

@mixin font-size-h1 {
	font-size: $font-size-h3;
	line-height: $line-height-h3;

	@include breakpoint(creeper) {
		font-size: $font-size-h2;
		line-height: $line-height-h2;
	}

	@include breakpoint(crawler) {
		font-size: $font-size-h1;
		line-height: $line-height-h1;
	}
}

@mixin font-size-h2 {
	font-size: $font-size-h4;
	line-height: $line-height-h4;

	@include breakpoint(creeper) {
		font-size: $font-size-h3;
		line-height: $line-height-h3;
	}

	@include breakpoint(crawler) {
		font-size: $font-size-h2;
		line-height: $line-height-h2;
	}
}

@mixin font-size-h3 {
	font-size: $font-size-h3;
	line-height: $line-height-h3;
}

@mixin font-size-h4 {
	font-size: $font-size-h4;
	line-height: $line-height-h4;
}

@mixin font-size-h5 {
	font-size: $font-size-h5;
	line-height: $line-height-h5;
}

@mixin font-size-h6 {
	font-size: $font-size-h6;
	line-height: $line-height-h6;
}
