// BREAKPOINT

@mixin breakpoint($zombie) {
	@if $zombie == creeper {
		@media only screen and (min-width: 480px) { @content; }
	}
	@else if $zombie == crawler {
		@media only screen and (min-width: 640px) { @content; }
	}
	@else if $zombie == walker {
		@media only screen and (min-width: 768px) { @content; }
	}
	@else if $zombie == runner {
		@media only screen and (min-width: 1024px) { @content; }
	}
	@else if $zombie == jumper {
		@media only screen and (min-width: 1152px) { @content; }
	}
	@else if $zombie == flyer {
		@media only screen and (min-width: 1280px) { @content; }
	}
	@else if $zombie == teleporter {
		@media only screen and (min-width: 1440px) { @content; }
	}
	@else if $zombie == demigod {
		@media only screen and (min-width: 1600px) { @content; }
	}
	@else if $zombie == god {
		@media only screen and (min-width: 1920px) { @content; }
	}
	@else if $zombie == creeper-crawler {
		@media only screen and (min-width: 480px) and (max-width: 639px) { @content; }
	}
	@else if $zombie == crawler-walker {
		@media only screen and (min-width: 640px) and (max-width: 767px) { @content; }
	}
	@else if $zombie == walker-runner {
		@media only screen and (min-width: 768px) and (max-width: 1023px) { @content; }
	}
	@else if $zombie == runner-jumper {
		@media only screen and (min-width: 1024px) and (max-width: 1151px) { @content; }
	}
	@else if $zombie == jumper-flyer {
		@media only screen and (min-width: 1152px) and (max-width: 1279px) { @content; }
	}
	@else if $zombie == flyer-teleporter {
		@media only screen and (min-width: 1280px) and (max-width: 1339px) { @content; }
	}
	@else if $zombie == teleporter-demigod {
		@media only screen and (min-width: 1440px) and (max-width: 1599px) { @content; }
	}
	@else if $zombie == demigod-god {
		@media only screen and (min-width: 1600px) and (max-width: 1919px) { @content; }
	}
	@else if $zombie == watcher {
		@media only screen and (-o-min-device-pixel-ratio: 1.5),
			   only screen and (-webkit-min-device-pixel-ratio: 1.5),
			   only screen and (min-resolution: 144dpi) { @content; }
	}
}


// OPACITY

$white: 				#FFFFFF;
$black: 				#000000;

$opacity-0: 			0;
$opacity-10: 			0.08;
$opacity-20: 			0.16;
$opacity-30: 			0.24;
$opacity-40: 			0.32;
$opacity-50: 			0.48;
$opacity-60: 			0.64;
$opacity-70: 			0.72;
$opacity-80: 			0.88;
$opacity-90: 			0.96;
$opacity-100: 			1;

$opacity-0-percent: 	$opacity-0*100%;
$opacity-10-percent: 	$opacity-10*100%;
$opacity-20-percent: 	$opacity-20*100%;
$opacity-30-percent: 	$opacity-30*100%;
$opacity-40-percent: 	$opacity-40*100%;
$opacity-50-percent: 	$opacity-50*100%;
$opacity-60-percent: 	$opacity-60*100%;
$opacity-70-percent: 	$opacity-70*100%;
$opacity-80-percent: 	$opacity-80*100%;
$opacity-90-percent: 	$opacity-90*100%;
$opacity-100-percent: 	$opacity-100*100%;

$tint-0: 				rgba($white, $opacity-0);
$tint-10: 				rgba($white, $opacity-10);
$tint-20: 				rgba($white, $opacity-20);
$tint-30: 				rgba($white, $opacity-30);
$tint-40: 				rgba($white, $opacity-40);
$tint-50: 				rgba($white, $opacity-50);
$tint-70: 				rgba($white, $opacity-70);
$tint-60: 				rgba($white, $opacity-60);
$tint-80: 				rgba($white, $opacity-80);
$tint-90: 				rgba($white, $opacity-90);
$tint-100: 				rgba($white, $opacity-100);

$shade-0: 				rgba($black, $opacity-0);
$shade-10: 				rgba($black, $opacity-10);
$shade-20: 				rgba($black, $opacity-20);
$shade-30: 				rgba($black, $opacity-30);
$shade-40: 				rgba($black, $opacity-40);
$shade-50: 				rgba($black, $opacity-50);
$shade-60: 				rgba($black, $opacity-60);
$shade-70: 				rgba($black, $opacity-70);
$shade-80: 				rgba($black, $opacity-80);
$shade-90: 				rgba($black, $opacity-90);
$shade-100: 			rgba($black, $opacity-100);


// COLORS

$white-smoke: 			#f5f5f5;
$solitude: 				#f0f2f5;
$gainsboro: 			#e0e0e0;
$dark-grey: 			#a3a3a3;
$eclipse: 				#3d3d3d;
$ebony-clay: 			#31363d;
$nero: 					#1f1f1f;

$lime-green: 			#2bad29;
$forest-green: 			#259b24;
$green: 				#056f00;

$crimson: 				#f20e3c;
$torch-red: 			#e00032;
$free-speech-red: 		#c00010;

$denim: 				#116aad;
$kelly-green: 			#27aa0b;
$amber: 				#ffc000;

$color-100: 			$white;
$color-200: 			$white-smoke;
$color-300: 			$solitude;
$color-400: 			$gainsboro;
$color-500: 			$dark-grey;
$color-600: 			$eclipse;
$color-700: 			$ebony-clay;
$color-800: 			$nero;
$color-900: 			$black;

$color-one-400: 		$lime-green;
$color-one-500: 		$forest-green;
$color-one-600: 		$green;

$color-two-400: 		$crimson;
$color-two-500: 		$torch-red;
$color-two-600: 		$free-speech-red;

$color-info-500: 		$denim;
$color-success-500: 	$kelly-green;
$color-warning-500: 	$amber;
$color-alert-500: 		$crimson;

$color-viewport: 		$color-700;
$color-background: 		$white;

$color-text: 			$color-700;
$color-text-light: 		$color-600;
$color-text-tint: 		$tint-50;
$color-text-shade: 		$shade-50;

$color-border: 			$color-400;
$color-border-light: 	$color-300;
$color-border-tint: 	$tint-10;
$color-border-shade: 	$shade-10;

$color-dribbble: 		#ea4c89;
$color-facebook: 		#3b5998;
$color-google: 			#cc3732;
$color-instagram: 		#3f729b;
$color-linkedin: 		#0077b5;
$color-pinterest: 		#cc2127;
$color-twitter: 		#00aced;
$color-youtube: 		#cd201f;


// TYPOGRAPHY

$sans-serif: 			"Helvetica Neue", sans-serif;
$serif: 				Georgia, serif;
$monospace: 			Menlo, Monaco, Consolas, "Courier New", monospace;

$font-size-100: 		11px;
$line-height-100: 		1.454545455;

$font-size-200: 		12px;
$line-height-200: 		1.333333333;

$font-size-300: 		13px;
$line-height-300: 		1.384615385;

$font-size-400: 		14px;
$line-height-400: 		1.428571429;

$font-size-500: 		16px;
$line-height-500: 		1.5;

$font-size-600: 		18px;
$line-height-600: 		1.333333333;

$font-size-700: 		20px;
$line-height-700: 		1.2;

$font-size-800: 		24px;
$line-height-800: 		1.166666667;

$font-size-900: 		48px;
$line-height-900: 		1.166666667;

$font-size-h1: 			36px;
$line-height-h1: 		1.111111111;

$font-size-h2: 			30px;
$line-height-h2: 		1.2;

$font-size-h3: 			24px;
$line-height-h3: 		1.166666667;

$font-size-h4: 			20px;
$line-height-h4: 		1.2;

$font-size-h5: 			18px;
$line-height-h5: 		1.333333333;

$font-size-h6: 			16px;
$line-height-h6: 		1.25;


// TRANSITION

$ease: 		ease-in-out;
$bounce: 	cubic-bezier(0.5, 0.15, 0.25, 1.25);


// MIXINS

@mixin clearfix {

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	//hyphens: auto;
}

@mixin sticky {
	position: sticky;
	top: 0;

	&:before,
	&:after {
		content: "";
		display: table;
	}
}

@mixin font-size-100 {
	font-size: $font-size-100;
	line-height: $line-height-100;
}

@mixin font-size-200 {
	font-size: $font-size-200;
	line-height: $line-height-200;
}

@mixin font-size-300 {
	font-size: $font-size-300;
	line-height: $line-height-300;
}

@mixin font-size-400 {
	font-size: $font-size-400;
	line-height: $line-height-400;
}

@mixin font-size-500 {
	font-size: $font-size-500;
	line-height: $line-height-500;
}

@mixin font-size-600 {
	font-size: $font-size-600;
	line-height: $line-height-600;
}

@mixin font-size-700 {
	font-size: $font-size-700;
	line-height: $line-height-700;
}

@mixin font-size-800 {
	font-size: $font-size-800;
	line-height: $line-height-800;
}

@mixin font-size-900 {
	font-size: $font-size-h1;
	line-height: $line-height-h1;

	@include breakpoint(crawler) {
		font-size: $font-size-900;
		line-height: $line-height-900;
	}
}

@mixin font-size-h1 {
	font-size: $font-size-h3;
	line-height: $line-height-h3;

	@include breakpoint(creeper) {
		font-size: $font-size-h2;
		line-height: $line-height-h2;
	}

	@include breakpoint(crawler) {
		font-size: $font-size-h1;
		line-height: $line-height-h1;
	}
}

@mixin font-size-h2 {
	font-size: $font-size-h4;
	line-height: $line-height-h4;

	@include breakpoint(creeper) {
		font-size: $font-size-h3;
		line-height: $line-height-h3;
	}

	@include breakpoint(crawler) {
		font-size: $font-size-h2;
		line-height: $line-height-h2;
	}
}

@mixin font-size-h3 {
	font-size: $font-size-h4;
	line-height: $line-height-h4;

	@include breakpoint(creeper) {
		font-size: $font-size-h3;
		line-height: $line-height-h3;
	}
}

@mixin font-size-h4 {
	font-size: $font-size-h4;
	line-height: $line-height-h4;
}

@mixin font-size-h5 {
	font-size: $font-size-h5;
	line-height: $line-height-h5;
}

@mixin font-size-h6 {
	font-size: $font-size-h6;
	line-height: $line-height-h6;
}
