.pagination,
.woocommerce-pagination {
	@include clearfix;
	margin-top: 24px;

	li {
		float: left;
		margin-right: 4px;

		a,
		.current {
			background-color: $color-one-600;
			color: $white;
			display: block;
			min-width: 32px;
			padding: 4px 8px;
			position: relative;
			text-align: center;
		}

		a {
			background-color: $color-one-500;
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: $color-one-400;
				color: $white;
			}
		}

		i {
			display: inline-block;
		}
	}
}