.search-form {
	position: relative;

		&:hover,
		&:focus {

			input[type="submit"] {
				opacity: 0.4;
			}
		}

	label {
		display: none;
	}

	input[type="text"] {
		width: 100%;
	}

	input[type="submit"] {
		background: transparent url('library/images/icon-search.png') no-repeat center center;
		background-size: 16px 16px;
		border: 0;
		height: 100%;
		opacity: 0.2;
		position: absolute;
		right: 0;
		text-indent: -9999em;
		top: 0;
		transition: all 0.3s $ease;
		width: 30px;

		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}
}
