.sidebar {
	display: none;
	width: 100%;

	@include breakpoint(walker) {
		display: block;
		float: right;
		width: 33.333333333%;
		width: calc(200px);
	}

	@include breakpoint(runner) {
		width: calc(256px);
	}

	ol,
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
