.site {
	background-color: $color-background;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	position: relative;

	&:before {
		content: "";
		background-color: $black;
		height: 100%;
		left: 0;
		opacity: 0;
		transition: opacity 0.2s $ease;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
}

.site-header {
	background-color: $white;
	border-bottom: 1px solid $shade-lowest;
	position: relative;
	width: 100%;
	z-index: 8;

	> .inner {
		align-items: center;
		display: flex;
	}
}

.site-logo {
	color: $shade-lowest;
	display: block;
	flex: 0 0 auto;
	font-size: $font-size-h2;
	font-weight: 700;
	letter-spacing: -0.04em;
	line-height: 3;
	margin-right: 24px;
	text-transform: lowercase;
	transition: all 0.3s $ease;

	&:hover,
	&:focus {
		color: $color-one;
		text-decoration: none;
	}
}

.site-nav {
	display: none;
	flex: 1 1 auto;
	position: relative;
	text-align: right;

	@include breakpoint(walker) {
		display: block;
	}

	&.is-collapsed {

		.children,
		.sub-menu {
			display: none;
		}
	}

	a {
		background-color: $color-one;
		color: $white;
		display: block;
		line-height: 48px;
		padding: 0 24px;
		transition: all 0.3s $ease;
		white-space: nowrap;

		&:hover,
		&:focus {
			background-color: $color-one-light;
			color: $white;
			text-decoration: none;
		}

		&:active {
			background-color: $color-one-dark;
		}
	}

	.site-nav-toggle {
		background-color: $color-two;
		color: $white;
		height: 100%;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: all 0.2s $ease;
		width: 48px;
		z-index: 2;

		&:after {
			content: attr(count);
			background-color: $color-two-dark;
			border: 2px solid $white;
			border-radius: 50%;
			font-size: $font-size-smaller;
			font-weight: 700;
			height: 24px;
			line-height: 20px;
			margin-top: -12px;
			position: absolute;
			right: -12px;
			text-align: center;
			top: 50%;
			width: 24px;
		}

		&:hover {
			background-color: $color-two-dark;
		}

		.icon {
			margin-left: -10px;
			width: 20px;
		}
	}

	.menu {
		font-size: 0;
		text-align: left;

		&.menu-primary {
			display: inline-block;
			white-space: nowrap;
		}

		&.menu-secondary {
			position: absolute;
			right: 0;
			top: 100%;
			transition: all 0.2s $ease;

			li {
				display: block;
			}
		}

		li {
			border-left: 1px solid $color-one;
			display: inline-block;
			font-size: $font-size;
		}
	}

	.current-menu-item,
	.current-menu-ancestor,
	.current-menu-parent,
	.current_page_item {

		> a {
			background-color: $color-one-dark;
		}
	}

	.menu-item-has-children,
	.page_item_has_children {
		position: relative;

		&:hover {

			.children,
			.sub-menu {

					opacity: 1;
					transform: translateY(0);
					visibility: visible;
			}
		}
	}

	.children,
	.sub-menu {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 100%;
		transition: all 0.2s $ease;
		transform: translateY(-1em);
		visibility: hidden;

		li {
			float: none;
			width: 100%;
		}

		a {

			&:before {
				content: "— ";
			}
		}
	}
}

.site-nav-toggle {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	height: 24px;
	font-size: 0;
	position: absolute;
	right: 16px;
	top: 36px;
	user-select: none;
	width: 24px;

	@include breakpoint(creeper) {
		right: 32px;
	}

	@include breakpoint(walker) {
		display: none;
	}

	.icon {
		display: block;
		height: 4px;
		left: 50%;
		margin: -2px 0 0 -12px;
		position: absolute;
		top: 50%;
		transition: all 0.3s $ease;
		width: 24px;

		&:before,
		&:after {
			content: "";
			background-color: $white;
			height: 4px;
			left: 0;
			position: absolute;
			transition: all 0.3s $ease;
			width: 100%;
		}

		&:before {
			transform: translateY(-150%);
		}

		&:after {
			transform: translateY(150%);
		}
	}

	&:hover,
	&:focus {
		outline: 0;
	}

	&.is-active {

		.icon {

			&:before {
				transform: rotate(45deg) translateY(0);
			}

			&:after {
				transform: rotate(-45deg) translateY(0);
			}
		}
	}
}

.site-content {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	position: relative;
	z-index: 3;

	.page-content {
		flex: 1 0 auto;
		position: relative;

		> .inner {
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}
}

.site-footer {
	background-color: $color-darker;
	color: $white;
	position: relative;
	transition: all 0.3s $ease;
	width: 100%;
	z-index: 4;

	> .inner {
		padding-bottom: 24px;
		padding-top: 24px;
	}

	a {
		color: $white;
	}
}

.site-copyright {
	@include font-size-smallest;
	margin: 0;
}