html {
	font-size: $font-size-500;
}

body {
	@include font-size-500;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $color-text;
	font-family: $sans-serif;
}

ol, ul, dl,
p, address, blockquote, figure, pre, table {
	margin: 0 0 24px;

	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 0 0 8px;
	text-rendering: optimizelegibility;

	a {
		text-decoration: none;
	}
}

h1 {
	@include font-size-h1;
}

h2 {
	@include font-size-h2;
}

h3 {
	@include font-size-h3;
}

h4 {
	@include font-size-h4;
}

h5 {
	@include font-size-h5;
}

h6 {
	@include font-size-h6;
}

a {
	color: $color-one-500;
	text-decoration: none;

	&:visited {
		color: $color-one-500;
	}

	&:hover,
	&:focus {
		color: $color-one-400;
		outline: 0;
		text-decoration: underline;
	}
}

ol,
ul {
	margin-top: 0;

	ol,
	ul {
		margin-bottom: 0;
	}
}

dl {
	margin-top: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 8px;
	margin-left: 0;
}

blockquote {
	@include font-size-600;
	border-left: 4px solid $shade-10;
	margin-left: 0;
	padding: 12px 24px;

	&:first-child {
		margin-top: 0;
	}

	footer,
	small,
	.small {
		@include font-size-400;
		color: $color-text-light;
		display: block;

		&:before {
			content: "— ";
		}
	}
}

abbr[title] {
	border-bottom: 1px dotted $color-border;
	cursor: help;
}

address {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	font-family: $monospace;
}

code {
	@include font-size-400;
	background-color: $shade-10;
	padding: 2px 4px;
}

kbd {
	@include font-size-400;
	background-color: $color-600;
	border-radius: 3px;
	color: $white;
	padding: 2px 4px;

	kbd {
		@include font-size-500;
		font-weight: 700;
		padding: 0;
	}
}

pre {
	@include font-size-400;
	background-color: $shade-10;
	border: 1px solid $shade-10;
	border-radius: 3px;
	display: block;
	padding: 12px;
	word-break: break-all;
	word-wrap: break-word;

	code {
		background-color: transparent;
		border-radius: 0;
		color: inherit;
		font-size: inherit;
		padding: 0;
		white-space: pre-wrap;
	}
}

small {
	@include font-size-400;
}

hr {
	background-color: $shade-10;
	border: 0;
	height: 2px;
	margin: 24px 0;
	width: 100%;
}
